.app-wrapper {
  width: 100%;
  height: 100vh;

  .activity-log-add-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .activity-log-total-minutes {
      #activity-log-total {
        font-weight: bold;
      }
    }
  }

  .home-page-content-wrapper {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 100%;
    padding: 0 8px 0 8px;

    .home-page-alert {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .home-page-content {
      grid-row-start: 2;
      grid-row-end: 3;

      .home-page-site-title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .home-page-site-description {
        text-align: center;
        font-family: monospace;

        #home-page-leaderboard-link {
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.alert-link {
  cursor: pointer;
  text-decoration: underline;
}

.page-title {
  font-family: monospace !important;
  font-weight: 700 !important;
}